html, body {
    margin: 0;
}
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(147, 101, 70);
    padding: 10px 20px 0px;
}
.header {
    background-color: hwb(358 0% 88%);
    min-height: 140px;
}
.content {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: hsl(358, 100%, 6%);

    min-height: 150px;
}

.fundocontact {
    background-color: hsl(358, 100%, 6%);
    min-height: 300px;
    padding: 20px;
  }
